body{
         /* background-image: url(../images/icon.png); */
         background-color:  rgb(225, 250, 246);
         backdrop-filter: blur(25px);
}

td{
         color:#000000;
}

span{
         color: rgb(255, 255, 255);
}

.hidel{
         color:  rgb(181, 247, 238);
}